* {
  color: $c-white;
  font-family: sans-serif;
}

.sidebar {
  max-width: 20%;
  padding: 1rem;
  background-color: $c-sidebar;

  &__container {


  }

  &__heading {
    padding: 0 $m-gutter / 2;
    border-bottom: 1px solid $c-secondary;
    font-family: $font;
    font-size: 1rem;
  }
}


.fa-angle-down {
  margin-left: $m-gutter * 7;
}

.browse {
  margin: 0 -1rem;
  padding: $m-gutter / 2;
  border-left: 3px solid $c-primary;
  background-color: $c-tertiary;
  font-family: $font;
}

.fa-gamepad {
  margin: 0 $m-gutter;
}

.free-game {
  display: flex;
  font-family: $font;

  &__text {
    margin: 0;
  }

  &__subtext {
    margin-top: 0;
    color: $c-2ndfont;
    font-size: 0.75rem;
  }
}

.more {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-basis: calc(100% / 2 - 2rem;
    margin: $m-gutter / 3;
    color: $c-2ndfont;
    font-size: 0.75rem;
  }
}

.foot {
  display: flex;


  &__link {
    margin: 0  $m-gutter / 2;
    padding: $m-gutter / 1.5 $m-gutter;
    background-color: $c-secondary;
    text-decoration: none;

  }
}
