// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

$c-white: #fff;
$c-right: #f1f1f1;
$c-2ndfont: #a19d9d;
$c-sidebar: #221926;
$c-primary: #a755c6;
$c-secondary: #682f7d;
$c-tertiary: #2b1534;
$c-black: #000;

$m-gutter: 1rem;

$font: 'Titillium Web', sans-serif;

@import 'font-awesome';
@import 'box-sizing';
@import 'nav';
@import 'resets';
@import 'sidebar';



.right {
  padding: $m-gutter;
  background-color: $c-right;
  font-family: $font;

  &__heading {
    color: $c-black;
    font-family: $font;
    font-size: 2rem;
  }

  &__message {
    color: $c-black;
    font-family: $font;
  }
}

.perks-list {

  &__perk {
    margin: ($m-gutter / 2) 0;
    padding: ($m-gutter / 2);
    border-left: 4px solid $c-tertiary;
    background-color: $c-white;
    color: $c-black;
    font-family: $font;
  }
}

.right-buttons {

  &__btn {
    margin-right: $m-gutter;
    padding: $m-gutter / 1.5 $m-gutter;
    border: 0;
    background-color: $c-tertiary;
    font-family: $font;
    font-size: 1rem;
  }
}
